@{
    int N = Model.Length;
    var colors = new string[]
    {
        "red", "green", "teal", "lime", "cyan", "orange", "pink", "brown", "purple", "yellow", "blue", "violet"
    };
}

<head>
    <link rel="stylesheet" href="~/css/game.css" />
</head>

<h2 class="page-title">Queens</h2>

<div class="center-wrapper">
    <div class="board-container">
        <table id="game-board">
            <!-- The game board will be rendered here -->
        </table>
    </div>
</div>

<div id="timer-container">
    <div id="timer">
        Time: <span id="timer-display">00:00</span>
    </div>
</div>


<div class="button-container">
    <button type="button" class="btn-generate" id="generate-board-button">Generate New Board</button>
</div>

<script src="~/js/game.js"></script>